.input {
    display: flex;
}
.name, .position{
    border: 1px solid gray;
    padding: 10px;
}
form, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
}
th {
    background-color: lightgray;
    padding: 5px 10px;
}