#btnGreen{
    background-color: #007e12;
    width: 100px;
    height: 100px;
}
#btnRed{
    background-color: #ff001f;
    width: 100px;
    height: 100px;
}
#btnViolet{
    background-color: #f887ec;
    width: 100px;
    height: 100px;
}